body{
    background-color: #f6f9fc;
}

div.main{
    position:relative;
    background-color: gray;
    height: 60px;
    font-size: 20px;
    color: white;
}

div.main left{
    margin-left: 10px;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
}

div.main right{
    margin-right: 10px;
    position:absolute;
    top:50%;
    right: 0%;
    transform: translate(0, -50%);
    float: right;
}

div.main main{
    position:absolute;
    top:50%;
    left: 48%;
    transform: translate(0, -50%);
    font-size: 30px;
}

div.title{
    clear:left;
    background-color:#f6f9fc;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

hr{ 
    padding: 0px; margin: 20px;
    color: #0099FF;
    border: thin solid gray;
    width: auto;
}

img { 
    max-width: 100%; 
    margin-bottom: 7px;
    border-right-style : solid;
}

.center{
    display:table;
    width: 100%;
}

.sub{ 
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

.sub div{
    display: inline-block;
}

.sub div *{
    text-align: left;
}

.sub h1{
    background-color: gray;
    color: white;
    padding: 10px;
    vertical-align: top;
}

div.insabasic *{
    height: 20px;
}

.imgdiv{
    position: static;
    background-color: violet;
    top: -158px;
}

.basicdiv{
    position: static;
    background-color: black;
}

.mildiv{
    position: static;
    background-color: aqua; 
    top: -309px;
}

table.mytable{
    background-color: gray;
    text-align: center;
    border: 0px solid #444444; width: 100%; height: 30px;
    color: white;
    margin-top: 10px;
}

table.mytable thead *{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #444444;
    height: 30px;
    color: white;
}

table.mytable tbody *{
  color: black;
  background-color: white;
  border: 1px solid #444444;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}